html{
  scroll-behavior: smooth;
}
body{
   font-family: Creolia;
   background: #283048;
  background: -webkit-linear-gradient(to right, #859398, #283048); 
  background: linear-gradient(to right, #859398, #283048); 
}

.backimage{
  position: fixed;
  width: 100%;
  height: 80%;
  left: 0px;
  top: 0px;
  z-index: -2;
}

.backimages{
  width: 100%;
  height: 150%;
  margin-top: -4px;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);

}



.mainimg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*   Melliore png state   */
.animimg {
  position: relative;
  margin-top: 110px;
  width: 500px;
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  z-index: -1;
}
@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media only screen and (max-width: 800px){
    .animimg{
      width: 350px;
    }
}
@media only screen and (max-width: 370px){
  
  .kit{
    margin-left: -10px;
  }

  .backimage{

    height: 69%;
  }

  .buttons{
    margin-top: -30px;
  }

.images{

margin-bottom: 6px;
}
  .map{
    width: 380px;
    height: 200px;
  }
}
@media only screen and (max-width: 500px){
  .map{
    width: 400px;
    height: 200px;
  } 
}
@font-face {
    font-family: 'Creolia';
    src: url('Creolia.eot');
    src: local('Creolia Bold'), local('Font/Creolia'),
        url('Font/Creolia.eot?#iefix') format('embedded-opentype'),
        url('Font/Creolia.woff2') format('woff2'),
        url('Font/Creolia.woff') format('woff'),
        url('Font/Creolia.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.home{
  position: relative;
  border: none;
  float: left;
  text-decoration: none;
  color: white;
  font-size: 26px;
  top: 650px;

  animation-name: Appearance;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);

}
.buttons{
  position: relative;
  display: table;
  top: 570px;
  float: right;
  animation-name: Appearance;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);

}
.button{
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  font-size: 26px;

}
.home:hover ,.button:hover{
    color: black;
   transition: 1s;


}
.roomsimage{
  position: absolute;
  height: auto;
  width: 100%;
  top: 1000px;
  left: 0;
  
  
}
.images{
  position: relative;
  border-radius: 5px;
  width: 340px;
  height: 260px;
  margin-left: 25px;
  margin-bottom: 6px;
  -webkit-filter: brightness(94%);


 

}


.first {
  position: absolute;
  bottom: 10;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  overflow: hidden;
  width: 43%;
  height: 260px;
  transition: .5s ease;
  margin-left: 25px;
  border-radius: 2px;
}
.kit{
  position: relative;

}
.kit:hover .first  {
height: 0%;
 
}

.text {
  position: absolute;
  color: rgba(255, 255, 255, 1.0);
  font-size: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}
a{
    text-decoration: none;
}
/*  objects on bottom   */

.fins{
  position: absolute;
  width: 101.7%;
  height: auto;
  left: -1.8%;
  background: gray;



}
iframe{
  position: relative;
  width: 400px; 
  height: 230px; 
  border: none;
  float: right;

}
.forlogo{
  position: absolute;
  display: block;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 30px;
  width: 35%;

}
/* container of  icons on bottom   */
.icons{
  position: relative;
  display: inline-flex;
  margin-left: 45%;
  margin-top: 30px;


}
/*  icons of messengers on bottom   */
 .fa {

  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
  color: white;
}

.fa:hover {
    color: black;
    background: white;
  
    transition: 1s;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: gray;


}

 

::-webkit-scrollbar-thumb {
  background: floralwhite;
  border-radius: 4px;


}





